.navegacion {
  background-color: lightblue;
  border-radius: 2px;
}
.navegacion a
{
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2em;
  display: block;
}
.navegacion a:hover
{
  background-color: lightgrey;
}
.navegacion ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.navegacion li{
  float: left;

}
.red {
  background-color: red;
}

/*
  CSS para el fondo
*/

.background {
  background-image: linear-gradient(#cae4f5, #92cbee );
  height: 100%;
}

/*
  CSS para las pachangas
*/
.pachangas {
padding: 15px;
}
.pachanga
{
  display: block;
    float: left;
    overflow: hidden;
    margin: 1%;
    text-align: center;
    width: 31.3%;
    box-shadow: 0px 7px 7px 1px grey;
}
.pachanga::after {
  clear:both;
}

@media only screen and (max-width: 800px)
{
  .pachanga
  {
    width: 48%;
    margin: 1%;
  }
}

@media only screen and (max-width: 500px)
{
  .pachanga
  {
    width: 100%;
    margin: 0;
  }
}
.pachanga-img-holder
{
  padding: 5px;
  width: inherit;
  height: 300px;
  width: auto;
}
.hora {
  text-align: center;
}

.pachImg
{
  display: block;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;

}
.pachanga-info
{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/*
  LOGIN CSS
*/

.table {
  background-color: #f0f5c5;
  border-radius: 10px;
  margin-bottom: 10px;
}
.login{

}
.signinform{
  float: left;
  padding: 10px;
  display: block;
  width: 45%;
  text-align: center;
  margin:10px;
}
@media only screen and (max-width: 500px) {
  .signinform{
    float: left;
    padding: 10px;
    display: block;
    width: 90%;
    margin: 5%;
  }
  .signinform button {
    width: 100%;
    height: 50px;
  }

}
.signinform input {
  margin: 2px;
  float: none;
}
.signinform:last-child{
    float: right;
}
.signinform input {
  width: 80%;
  border: none;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}
.signinform input:hover {
  border: 1px solid black;
}
.signinform button {
  background-color:  #85c1e9 ;
  border-radius: 10px;
  color: white;
  width: 40%;
  height: 40px;
  border: none;
}
.signinform button:hover {
 background-color:  #3498db;
}
.mar-top
{
  margin-top: 10px;
}
 .profile
 {
   padding: 10px;
 }
 .title {
   display: block;
   float: right;
   width: 70%;
   text-align: left;
   padding-top: 5%
 }
 .profile-photo
 {
   display: block;
   width: 20%;
   float left;
 }
 .profile-photo img
 {
   border: 1px solid black;
   border-radius: 50%;
   width: 80%;
   object-fit: cover;
 }
 .clear
 {
   clear:both;
   line-height: 0px;
 }
 .stats-other{
   border-top: 1px solid lightgrey;
   padding:5px;
 }
 .stats-left {
   width: 40%;
   display: block;
   float: left;
 }
 .stats-right {
   width: 40%;
   display: block;
   float: right;
 }
